@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nixie+One&display=swap');

/* ---------- GENERAL ELEMENTS ---------- */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5B5B5B;
  font-family: 'Nixie One', sans-serif;
  background-image: linear-gradient(to bottom, #FBD2D0, #CAE6D7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: bold;
}

article {
  width: 95%;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #5B5B5B;
}

img {
    width: 150px;
    height: auto;
}

/* ---------- BUTTONS ---------- */

.menu-btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button {
  font-size: 20px;
  font-weight: bold;
  width: 230px;
  height: 80px;
  border-radius: 15px;
  background-color: #FCFCFC;
  margin-bottom: 5px;
}

.neon-btn {
  background-color: #FCFCFC66;
  border: 2px solid #F7ACA8;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.neon-btn:hover, .neon-btn:focus {
  -webkit-box-shadow: inset 0px 0px 8px 3px #F7ACA8;
  box-shadow: 0px 0px 10px 3px #F7ACA8, inset 0px 0px 10px 3px #F7ACA8;
  border-color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F7ACA8, 0 0 40px #F7ACA8, 0 0 50px #F7ACA8, 0 0 60px #F7ACA8, 0 0 70px #F7ACA8;
}

/* ---------- INDEX.HTML ---------- */

.logo-container {
  background: #FCFCFC;
  margin-bottom: 20px;
  padding-top: 50px;
  display: block;
}

.main-title {
  background: linear-gradient(to bottom, #F7ACA8, #95CDAF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
  font-family: 'Fascinate Inline', cursive;
  margin-bottom: 10px;
}

.subtitle {
  text-align: center;
  color: #5B5B5B;
  font-family: 'Nixie One', cursive;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.menu-container {
  background-image: url("../images/ole-bg.png");
  border-color: 5px solid #FCFCFC;
  display: block;
}

.shadow {
  border-radius: 16px;
  box-shadow: 0px 0px 12px 2px rgba(91,91,91,0.40);
}

/* ---------- INSTRUCTIONS.HTML ---------- */

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 80px;
  background: #FCFCFC;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid #FBD2D0;
}

.title {
  background: linear-gradient(to bottom, #F7ACA8, #95CDAF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 38px;
  font-family: 'Fascinate Inline', cursive;
}

.heading-container {
  background-image: url("../images/ole-bg.png");
  border: 5px solid #FCFCFC;
  margin-top: 4rem;
  margin-bottom: 20px;
}

.heading {
  font-size: 35px;
  font-family: 'Fascinate Inline', cursive;
}

.text-container {
  background: #FCFCFC;
  text-align: center;
  display: block;
  margin-bottom: 3rem;
}

.level-name {
  font-family: 'Fascinate Inline', cursive;
  font-size: 1.5em;
}

/* ---------- VOCABULARY.HTML ---------- */

.vocab-element {
  margin: 10px;
}

.vocab-img {
  width: 80%;
  border-radius: 50%;
  box-shadow: 0px 0px 12px 2px rgba(91,91,91,0.40);
}

.vocab-name {
  margin: 10px 0;
  font-size: 1.2rem;
}

.vocab-sound {

}

/* ---------- GAME.HTML ---------- */

.game-container {
  align-content: center;
}

.game-menu-area {
  margin-bottom: 20px;
}

.game-menu-area, 
.game-grid-area {
  background: #FCFCFC66;
  min-height: 200px;
  max-width: 1000px;
  margin: 10px;
}

.grid {
    height: 500px;
    width: 600px;
    background: #FCFCFC;
    display: flex;
    flex-wrap: wrap;
}

/* ---------- MEDIA QUERIES ---------- */

/* Extra small devices */
@media only screen and (max-width: 600px) {
  img, .body {
    font-size: 0.5rem;
  }
  .heading-container {
    margin-top: 80rem;
  }
}

/* Small devices */
@media only screen and (min-width: 600px) {
  img, .body {
    font-size: 0.7rem;
  }
  .heading-container {
    margin-top: 40rem;
  }
}

/* Medium devices  */
@media only screen and (min-width: 768px) {
  img, .body {
    font-size: 0.9rem;
  }
  .heading-container {
    margin-top: 20rem;
  }
}