/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Nixie+One&display=swap');

/* ---------- GENERAL ELEMENTS ---------- */

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
    box-sizing: border-box;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
  color: #5B5B5B;
  font-family: 'Nixie One', sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FBD2D0), to(#CAE6D7));
  background-image: -o-linear-gradient(top, #FBD2D0, #CAE6D7);
  background-image: linear-gradient(to bottom, #FBD2D0, #CAE6D7);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-weight: bold;
}

#sounds {
    display: none;
}

article {
  width: 95%;
}

.container {
  margin: 0 auto;
  padding: 20px;
  max-width: 900px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
    -ms-flex-align: center;
      align-items: center;
}

a {
  text-decoration: none;
  color: #5B5B5B;
}

img {
  width: 160px;
  height: auto;
}

/* ---------- BUTTONS ---------- */

button {
  /* font-size: 20px; */
  font-weight: bold;
  /* width: 230px;
  height: 80px; */
  border-radius: 15px;
  background-color: #FCFCFC;
  margin: 5px auto;
}

.btn {
  font-size: 20px;
  font-weight: bold;
  width: 230px;
  height: 80px;
  border-radius: 15px;
  background-color: #FCFCFC;
  margin: 5px auto;
  position: relative;
}

.btn-link {
  text-decoration: none;
  font-weight: bold;
  color: #5B5B5B;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu-btn {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.neon-btn {
  background-color: #FCFCFC66;
  border: 2px solid #F7ACA8;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.neon-btn:hover, .neon-btn:focus {
  -webkit-box-shadow: inset 0px 0px 8px 3px #F7ACA8;
  box-shadow: 0px 0px 10px 3px #F7ACA8, inset 0px 0px 10px 3px #F7ACA8;
  border-color: #fff;
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #F7ACA8, 0 0 40px #F7ACA8, 0 0 50px #F7ACA8, 0 0 60px #F7ACA8, 0 0 70px #F7ACA8;
}

.shortcut-btns {
  margin: 30px auto;
  max-width: 500px;
}

.sm-btn {
  font-size: 16px;
  min-width: 80px;
  max-width: 200px;
  height: 60px;
  font-family: 'Fascinate Inline', cursive;
  background-color: #f7aca829;
  margin-bottom: 20px;
}

/* ---------- INDEX.HTML ---------- */

.logo-container {
  background: #FCFCFC;
  margin-bottom: 20px;
  padding-top: 50px;
  display: block;
  min-height: 250px;
}

.main-title {
  background: -webkit-gradient(linear, left top, left bottom, from(#F7ACA8), to(#95CDAF));
  background: -o-linear-gradient(top, #F7ACA8, #95CDAF);
  background: linear-gradient(to bottom, #F7ACA8, #95CDAF);
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 90px;
  font-family: 'Fascinate Inline', cursive;
  margin-bottom: 10px;
  padding-top: 30px;
}

.subtitle {
  text-align: center;
  color: #5B5B5B;
  font-family: 'Nixie One', cursive;
  text-transform: uppercase;
  letter-spacing: 15px;
  padding-bottom: 10px;
}

.menu-container {
  background-image: url("../images/ole-bg.png");
  border: 5px solid #FCFCFC;
  display: block;
}

.shadow {
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(91,91,91,0.40);
    box-shadow: 0px 0px 12px 2px rgba(91,91,91,0.40);
}

/* ---------- INSTRUCTIONS.HTML ---------- */

.top-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 70px;
  background: #FCFCFC;
  text-align: center;
  padding: 10px;
  border-bottom: 5px solid #FBD2D0;
}

.title {
  background: -webkit-gradient(linear, left top, left bottom, from(#F7ACA8), to(#95CDAF));
  background: -o-linear-gradient(top, #F7ACA8, #95CDAF);
  background: linear-gradient(to bottom, #F7ACA8, #95CDAF);
  -webkit-background-clip: text;
    background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Fascinate Inline', cursive;
}

.heading-container {
  background-image: url("../images/ole-bg.png");
  border: 5px solid #FCFCFC;
  margin-bottom: 20px;
  max-height: 80px;
  padding: 40px;
}

.heading {
  font-size: 30px;
  font-family: 'Fascinate Inline', cursive;
  padding: 5px;
  text-align: center;
}

.text-container {
  background: #FCFCFC;
  text-align: center;
  display: block;
  padding: 20px;
  margin-bottom: 3rem;
}

.instructions-text {
  padding: 20px;
}

.level-name {
  font-family: 'Fascinate Inline', cursive;
  font-size: 1.5em;
}

/* ---------- VOCABULARY.HTML ---------- */

.vocab-element {
  padding: 10px 3px;
}

.vocab-img {
  width: 60%;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(91,91,91,0.40);
    box-shadow: 0px 0px 12px 2px rgba(91,91,91,0.40);
}

.vocab-name {
  margin: 5px 0;
  font-size: 0.9rem;
}

.vocab-sound {
  width: 20px;
  height: 20px;
  border: none;
  margin-bottom: 5px;
}

.vocab-sound:hover {
  font-size: 120%;
  color: #F7ACA8;
}

/* ---------- GAME.HTML ---------- */

.game-container {
  -ms-flex-line-pack: center;
    align-content: center;
}

.game-menu-area {
  margin: auto 10px 5px;
  padding: 0px;
  font-size: 0.8rem;
  font-weight: bold;
}

.game-grid-area  {
  max-width: 800px;
  margin-top: 2rem;
}

.game-menu-area, .game-grid-area {
  background: #FCFCFC66;
  min-height: 300px;
}

.game-info {
  padding: 10px 20px;
  text-align: center;
  vertical-align: center;
}

.game-info a {
  font-size: 2rem;
  padding: 5px;
  border-radius: 40%;
  margin-top: 20px;
  border: none;
  background: none;
}

#time-counter, #moves-counter {
  font-weight: bold;
}

.grid {
  background: #FCFCFC;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  border-radius: 15px;
  padding: 20px;
}

.card {
  margin: 5px;
  background-color: #FCFCFC;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  border: hidden;
  position: relative;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.back {
  background: url("../images/back-card.png") no-repeat center center /
    contain;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(91,91,91,0.40);
    box-shadow: 0px 0px 6px 1px rgba(91,91,91,0.40);
}

.front {
  -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  background-color: #FCFCFC;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.card, .back, .front {
  height: 160px;
  width: 160px;
  border-radius: 15px;
}

.back, .front {
  position: absolute;
  -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.selected {
  -webkit-box-shadow: inset 0px 0px 8px 3px #F7ACA8;
  box-shadow: 0px 0px 10px 3px #F7ACA8, inset 0px 0px 10px 3px #F7ACA8;
  -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.match {
  background-image: none !important;
  border: none !important;
}

.match .back {
  background: #FCFCFC !important;
  -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/* ---------- GAME OVER MODAL ---------- */ 
.modal {
  display: none;
  position: fixed;
  text-align: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  width: 70%;
  margin: auto;
  padding: 0;
  position: relative;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  top: 10%;
  background-color: #FCFCFC;
  border: 3px dotted #F7ACA8;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 6px 1px rgba(91,91,91,0.40);
    box-shadow: 0px 0px 6px 1px rgba(91,91,91,0.40);
  -webkit-animation: animateTop 0.4s;
    animation: animateTop 0.4s; 
}

.modal-header {
  font-family: 'Fascinate Inline', cursive;
  font-size: 1.5em;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  -webkit-box-pack: center;
    -ms-flex-pack: center;
      justify-content: center;
  padding: 10px;
}

.modal-footer button {
  width: 50%;
  font-family: 'Fascinate Inline', cursive;
}

.close {
  font-size: 40px;
  float: right;
  margin-right: 20px;
  font-weight: bold;
  position: relative;
  animation: animateCloseIcon 5s linear 2s infinite;
}

.show-modal {
  display: block;
}

/* ---------- MEDIA QUERIES ---------- */

/* Extra small devices */
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.7rem;
  }
  .container, .grid {
    padding: 0px;
  }
  .main-title {
    font-size: 50px;
  }
  .heading-container {
    margin-top: 16rem;
  }
  .vocab-heading-container {
    margin-top: 30rem;
  }
  .top-container {
    height: 60px;
  }
  .game-container {
    margin-top: 4rem;
  }
  .game-menu-area {
    min-height: 50px;
  }
  .game-info h4 {
      font-size: 0.9rem;
  }
  .card, .back, .front {
    height: 60px;
    width: 60px;
  }
}

/* Small devices */
@media only screen and (min-width: 600px) {
  body {
    font-size: 0.8rem;
  }
  .main-title {
    font-size: 60px;
  }
  .heading-container {
    margin-top: 6rem;
  }
  .game-menu-area {
    min-height: 50px;
  }
  .card, .back, .front {
    height: 80px;
    width: 80px;
  }
}

/* Medium devices  */
@media only screen and (min-width: 768px) {
  body {
    font-size: 0.9rem;
  }
  .main-title {
    font-size: 70px;
  }
  .heading-container, .game-menu-area {
    margin-top: 8rem;
  }
  .card, .back, .front {
    height: 110px;
    width: 110px;
  }
}